flow.json
[{"id":"ac30e97d.e7f608","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e9acaa35.6317d8","type":"inject","z":"ac30e97d.e7f608","name":"Read Registry","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":170,"y":80,"wires":[["d471de21.9bc2c"]]},{"id":"d471de21.9bc2c","type":"http request","z":"ac30e97d.e7f608","name":"https://registry.npmjs.org/","method":"GET","ret":"txt","url":"https://registry.npmjs.org/","tls":"","x":198,"y":169,"wires":[["4db953b6.cefeec"]]},{"id":"42c69afe.f519c4","type":"debug","z":"ac30e97d.e7f608","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":431,"y":85,"wires":[]},{"id":"4db953b6.cefeec","type":"json","z":"ac30e97d.e7f608","name":"","property":"payload","action":"","pretty":false,"x":421,"y":168,"wires":[["42c69afe.f519c4"]]},{"id":"dbe771a9.55972","type":"inject","z":"ac30e97d.e7f608","name":"","topic":"","payload":"ERROR","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":139,"y":321,"wires":[["645125e4.ba489c"]]},{"id":"645125e4.ba489c","type":"function","z":"ac30e97d.e7f608","name":"catch/status test","func":"//Trigering valide output in \"status node\" is dome with <node.status({fill:\"green\",shape:\"ring\",text:\"fine, it is working\"});>\n//  in \"status node\" you get information via \"msg.status.text\"\n//\n//Triggering valide output in \"catch node\" is done with <node.error(\"some text\", msg);>\n//  in \"catch node\" you get information via \"msg.payload\" => the msg, given via parameter <msg>\n//  in \"catch node\" you get information via \"msg.error.message\" => the \"text\", given via parameter <\"\">\n//\nif (msg.payload === 1){\n    node.status({fill:\"green\",shape:\"ring\",text:\"status: fine, it is working\"});\n}\nelse{\n    node.status({fill:\"red\",shape:\"ring\",text:\"status: not expected this\"});\n    node.error(\"catch: Error\", msg);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":339,"y":321,"wires":[["16137f54.34d631"]]},{"id":"16137f54.34d631","type":"debug","z":"ac30e97d.e7f608","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":529,"y":321,"wires":[]},{"id":"2defd0c0.2d768","type":"catch","z":"ac30e97d.e7f608","name":"","scope":["645125e4.ba489c"],"x":309,"y":421,"wires":[["e0fa373f.3b7128","51f3f166.cb392"]]},{"id":"e29909b2.e8de48","type":"status","z":"ac30e97d.e7f608","name":"","scope":["645125e4.ba489c"],"x":319,"y":381,"wires":[["9ded34a5.992718"]]},{"id":"9ded34a5.992718","type":"debug","z":"ac30e97d.e7f608","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"status.text","x":559,"y":381,"wires":[]},{"id":"e0fa373f.3b7128","type":"debug","z":"ac30e97d.e7f608","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":549,"y":421,"wires":[]},{"id":"642d8e33.1138a","type":"inject","z":"ac30e97d.e7f608","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":129,"y":381,"wires":[["645125e4.ba489c"]]},{"id":"51f3f166.cb392","type":"debug","z":"ac30e97d.e7f608","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"error.message","x":569,"y":461,"wires":[]},{"id":"dded0eb1.5909e","type":"comment","z":"ac30e97d.e7f608","name":"Check internet connectivity","info":"","x":129,"y":41,"wires":[]},{"id":"89204e0a.f4cf7","type":"comment","z":"ac30e97d.e7f608","name":"Hot ot work with status/catch","info":"","x":139,"y":281,"wires":[]}]